[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
pyqt5designer = "*"

[packages]
pyqt5 = "*"
requests = "*"
tablib = "==0.14.0"
binaryornot = "*"
pillow = "*"
opencv-python = "*"
numpy = "*"
moviepy = "*"
timecode = "*"
qdarkstyle = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
